[submodule "external/lwip"]
	path = external/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "external/tlsf"]
	path = external/tlsf
	url = https://github.com/mattconte/tlsf.git
[submodule "external/monocypher"]
	path = external/monocypher
	url = https://github.com/LoupVaillant/Monocypher
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls

[submodule "external/edk2"]
	path = external/edk2
	url = https://github.com/tianocore/edk2.git
	branch = edk2-stable202502
