# Default exp2 config. menuconfig / oldconfig write config/.config.
CONFIG_PM_METAL_BUILD_EFI=y
CONFIG_PM_METAL_BUILD_BIOS=y
# CONFIG_PM_METAL_POST_RUN is not set
CONFIG_PM_METAL_FS_ROOT_SIZE_MIB=4
# CONFIG_PM_METAL_FS_SRC_MODE_NONE is not set
CONFIG_PM_METAL_FS_SRC_MODE_HUMAN=y
# CONFIG_PM_METAL_FS_SRC_MODE_ALL is not set
CONFIG_PM_METAL_FS_KERNEL_MODULE_ID="pymergetic.metal"
CONFIG_PM_METAL_FS_MOUNT_KERNEL_MODS=y
CONFIG_PM_METAL_FS_MOUNT_KERNEL_SRC=y
CONFIG_PM_METAL_FS_KERNEL_MODS_SEED=""
CONFIG_PM_METAL_LOG_BOOT_MOUNTS=y
