/ {
	fstab {
		compatible = "zephyr,fstab";

		pmfs: pmfs {
			compatible = "zephyr,fstab,fatfs";
			automount;
			disk-access;
			mount-point = "/";
		};
	};

	ramdisk0 {
		compatible = "zephyr,ram-disk";
		disk-name = "RAM";
		sector-size = <512>;
		sector-count = <2048>;
	};
};
